/*=============================================
                About Page
=============================================*/

/* ================ Introduce Row ================ */

.introduce-row {
    padding: 100px 0 50px;
    h3 {
        margin-bottom: 30px;
    }
}

// Responsive Introduce Row
@include media('small') {
    .introduce-row {
        padding: 50px 0 15px;
        h3 {
            font-size: 27px;
        }
    }
}

/* ================ Our Team ================ */

.our-team {
    padding: 85px 0 60px;
}

.team-menmers {
    figure {
        overflow: hidden;
        margin-bottom: 0;
        padding-bottom: 20px;
        height: 100%;
        .circle-image {
            position: relative;
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            transition: all .2s ease-in-out;
            margin-bottom: 28px;
            /* Overlay */
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: $primary;
                opacity: 0;
                transition: .2s ease-in-out;
            }
        }
        /* Content */
        .content {
            padding: 7px;
            h4 {
                color: $primary;
            }
        }
        /* Social Icon */
        .social-icon {
            position: absolute;
            top: 170px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: .2s ease-in-out;
            a {
                width: 35px;
                line-height: 35px;
                text-align: center;
                display: inline-block;
                color: #fff;
                border-radius: 50%;
                &:hover {
                    background: #3982ff;
                }
            }
        }
        /* Button */
        .view-btn {
            display: none;
        }
        /* ===== Hover ===== */
        &:hover {
            // Content
            .content {
                position: absolute;
                width: 100%;
                top: 60px;
                left: 0;
                transition: all .3s ease-in-out;
                * {
                    color: #fff !important;
                }
            }
            /* Overlay */
            .circle-image::before {
                opacity: 0.8;
            }
            /* Social Icon */
            .social-icon {
                opacity: 1;
                top: 145px;
                transition-delay: .2s;
            }
            /* Button */
            .view-btn {
                opacity: 1;
                bottom: 0;
                display: inline-block;
            }
        }
    }
}