/*=============================================
                Blogs
=============================================*/

.blogs-grid {
    padding: 50px 0;
    background: #f9f9f9;
}

// Blog Wrap
.blogs-wrap {
    /* Blog Card */
    .card {
        background: #fff;
        border: 0;
        &:hover {
            .blog-image .icon-group {
                right: 30px;
            }
        }
        .card-body {
            border: 1px dashed #ddd;
        }
    }
    /* Pagination */
    .page-navigation {
        padding: 20px 0 50px;
    }
}

/* Responsive Blog */

@include media('small') {
    .blogs-wrap {
        .card {
            .card-title {
                font-size: 24px;
            }
            .blog-control {
                li {
                    text-align: center;
                }
            }
        }
    }
}