/*=============================================
                Home 2 Styles
=============================================*/

/* ============= Home 2 Our Services */

.home2 {
    &.our-services {
        padding-bottom: 0;
    }
    .service-cards {
        padding-bottom: 40px;
    }
    .video-block-row {
        padding: 100px 0;
        background: #f9f9f9;
        .benifit.first-row {
            background: transparent;
        }
        .video-popup {
            display: block;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: $primary;
                opacity: 0.8;
                top: 0;
                left: 0;
            }
        }
    }
}

// Responsive our Services
@include media('small') {
    .video-block-row {
        padding: 40px 0 70px !important;
    }
}

/* =========== Chose Us ============ */

.chose-us {
    padding: 80px 0;
    .section-heading {
        margin-bottom: 44px;
    }
}

.flat-block {
    figure {
        padding: 20px;
        border-radius: 5px;
        transition: all .4s ease-in-out;
        .icon {
            text-align: center;
            width: 100px;
            line-height: 100px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 auto 20px;
            background: #f6f6f6;
        }
        &:hover {
            background: $primary;
            color: #fff;
            h4,
            a,
            p {
                color: #fff;
            }
            h4 {
                transition: .5s;
            }
            p {
                transition: .5s;
            }
        }
    }
}

// Responsive Flat Block
@include media('small') {
    .chose-us {
        padding: 50px 0;
    }
}

/* ============== Frequently ============= */

.frequently {
    padding: 70px 0 80px;
    position: relative;
    color: #fff;
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    * {
        color: #fff
    }
    &::before {
        content: '';
        width: 50vw;
        height: 100%;
        background: #04244c;
        position: absolute;
        left: 0;
        top: 0;
    }
    &::after {
        content: '';
        width: 50vw;
        height: 100%;
        background: url($img + '21.jpg') no-repeat center;
        background-size: cover;
        position: absolute;
        right: 0;
        top: 0;
    }
}

// Respinsive Frequently 
@include media('small') {
    .frequently {
        &::before {
            width: 100vw;
        }
        &::after {
            display: none;
        }
    }
}

/* ================ Image Showcase ================ */

.img-showcase {
    padding: 100px 0;
}

// Responsive
@include media('small') {
    .img-showcase {
        padding: 70px 0;
    }
}

/* ================ Review Blocks ================ */

.review-blocks {
    padding: 80px 0 100px;
    background: $primary;
    .container {
        overflow-y: hidden;
    }
    .section-heading {
        >* {
            color: #fff;
        }
    }
}

.review--Block {
    .block {
        background: #fff;
        border-radius: 7px;
        text-align: center;
        padding: 30px 10px;
        font-style: italic;
        font-size: 15px;
    }
}