/*=============================================
                All Page
=============================================*/

@import './home';
@import './home2';
@import './about';
@import './services';
@import './project';
@import './blog';
@import './blog-details';
@import './project-details';
@import './services-details';
@import './shop';
@import './shop-details';