/*=============================================
                Services Page
=============================================*/

/* Services Quote */

.services-quote {
    padding: 100px 0;
}

/* Accordian */

.services-accordian {
    .card {
        margin-bottom: 2px;
    }
    .card-header {
        background: #ededed;
        h6 {
            &::before {
                content: '\f107';
                font-family: 'fontawesome';
                margin-right: 7px;
            }
            &.collapsed {
                &::before {
                    content: '\f105';
                }
            }
        }
    }
}

/* Responsive Services */

@include media('small') {
    .services-page {
        .services-quote {
            padding: 50px 0;
        }
        .latest-news {
            padding: 50px 0;
        }
    }
}

@include media('medium') {
    .services-page {
        .services-quote {
            padding: 50px 0;
        }
        .latest-news {
            padding: 50px 0;
        }
    }
}