/*=============================================
                Services Page
=============================================*/

/* Services Quote */

.services-quote {
    padding: 100px 0;
}

/* Responsive Services */

@include media('small') {
    .services-page {
        .services-quote {
            padding: 50px 0;
        }
        .latest-news {
            padding: 50px 0;
        }
    }
}

@include media('medium') {
    .services-page {
        .services-quote {
            padding: 50px 0;
        }
        .latest-news {
            padding: 50px 0;
        }
    }
}