/*=============================================
                Services Page
=============================================*/

/* =========== Services Quote =========== */

.services-quote {
    padding: 100px 0;
}

/* Responsive Services */

@include media('small') {
    .services-page {
        .services-quote {
            padding: 50px 0;
        }
        .latest-news {
            padding: 50px 0;
        }
    }
}

@include media('medium') {
    .services-page {
        .services-quote {
            padding: 50px 0;
        }
        .latest-news {
            padding: 50px 0;
        }
    }
}

/* =========== Project Video =========== */

.project-video {
    padding: 70px 0;
    position: relative;
    * {
        color: #fff;
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $primary;
        opacity: 0.9;
    }
    .project-youtube-video {
        position: relative;
        iframe {
            border: 20px solid #fff;
            margin: 0 auto;
            display: block;
            max-width: 100%;
        }
    }
}