/*=============================================
                Header Styles
=============================================*/

/* ================ Topbar =================== */

.top-bar {
    background: #fff;
    padding: 14px 0;
}

.top-left-list {
    li {
        padding: 0 15px;
        @include hoverColor;
        &:not(:last-child) {
            border-right: 1px solid #cecece;
        }
        &:first-child {
            padding-left: 0;
        }
        i {
            margin-right: 11px;
        }
    }
}

.top-right-list {
    li {
        padding: 0 11px;
    }
    a {
        &:hover {
            color: $primary;
            i {
                transform: scale(1.3);
            }
        }
    }
}

// Responsive Topbar
@include media('sm') {
    .top-left-list {
        text-align: center;
    }
}

/* =================== Header =================== */

.page-header {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.header-top {
    background: #1c3546a1;
    padding: 20px 0;
    color: #fff;
    .middle-block {
        h4 {
            color: #fff;
        }
        p {
            margin-bottom: 0;
        }
        .block {
            &::before {
                content: '\f05d';
                font-family: 'Fontawesome';
                color: $primary;
                position: absolute;
                right: 100%;
                top: 4px;
            }
        }
    }
    .cart-search {
        ul>li {
            a {
                color: #fff;
                font-size: 20px;
                padding: 15px;
                @include hoverColor;
                position: relative;
                .badge-warning {
                    position: absolute;
                    top: 3px;
                    right: -9px;
                    background: $primary;
                    border-radius: 50%;
                    color: #fff;
                    font-weight: normal;
                }
            }
            &:last-child a {
                padding-right: 0;
            }
        }
    }
}

.header-menu {
    background: #fff;
    padding: 18px 0;
    .menu-list {
        a {
            padding: 8px 20px;
            font-weight: 500;
            color: $nav;
            display: inline-block;
            &:hover {
                color: $primary;
            }
        }
        .contact-btn {
            a {
                background: $primary;
                color: #fff !important;
                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
    &.Sticky-nav.sticky {
        padding: 13px 0;
        transition: .5s ease;
    }
}

/* Responsive Header */

@include media('small') {
    .header-top {
        padding: 10px 0;
    }
}

@include media('medium') {
    .header-top {
        padding: 10px 0;
    }
}

/* =============================================
                Home 2 Header
===============================================*/

.page-header {}

.home2 {
    .header-top {
        background: transparent;
        padding: 0;
        .header-top-wrap {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .bdrb {
            border-bottom: 1px solid #ddddddc4;
        }
        &.Sticky-nav.sticky {
            background: #1c3546ed;
            transition: .5s ease;
        }
    }
    .header-menu {
        background: transparent;
        &.Sticky-nav.sticky {
            background: darken($primary, 5%);
            padding: 13px 0;
            transition: .5s ease;
        }
        .menu-list {
            a {
                color: #fff;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}