/* ============================================
            Map 
==============================================*/

.home-map {
    height: 60vh;
    width: 100%;
}

#home_map {
    width: 100%;
    height: 100%;
}