/* =============== Our Services ================ 
==============================================*/

.our-services {
    padding: 50px 0 80px;
    .section-heading {
        margin-bottom: 45px;
    }
}

.service-cards {
    .card {
        border: 0;
        &:hover {
            .card-title {
                color: $primary;
            }
            figcaption {
                bottom: 0;
            }
        }
        .card-img-top {
            border-radius: 0;
        }
        .card-body {
            padding: 0;
            .card-title {
                margin: 10px 0 10px;
            }
        }
    }
    figure {
        position: relative;
        overflow: hidden;
        figcaption {
            position: absolute;
            bottom: calc(0% - 70px);
            left: 0;
            text-align: center;
            background: #282828;
            transition: .3s ease-in;
            width: 100%;
            padding: 9px 0;
            color: #fff;
            a {
                color: #fff;
                &:hover {
                    color: $primary;
                }
            }
            .hvr-icon-forward:before {
                content: '\f178';
                right: 4px;
            }
        }
    }
}

/* =============== Our Services// ================ */

/* =============== Home 2 Our Services ================ */

.home2.our-services {}

.home2 .service-cards {
    figure {
        figcaption {
            background: $primary;
            a {
                color: #fff;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

/* =============== Home 2 Our Services// ================ */