/* =========== FAQ Accrodian ============= */

.cd-accordian {
    .card {
        background: transparent;
        border-radius: 0;
        .card-header {
            background: transparent;
            border: 1px solid rgba(255, 255, 255, .3);
            border-radius: 0;
            h6 {
                &::before {
                    content: '\f056';
                    font-family: 'fontawesome';
                    margin-right: 5px;
                }
                &.collapsed::before {
                    content: '\f055';
                }
            }
        }
        .card-body {
            border: 0;
            background: transparent;
        }
    }
}

/* =========== Services Accordian ============= */

.services-accordian {
    .card {
        margin-bottom: 2px;
    }
    .card-header {
        background: #ededed;
        h6 {
            &::before {
                content: '\f107';
                font-family: 'fontawesome';
                margin-right: 7px;
            }
            &.collapsed {
                &::before {
                    content: '\f105';
                }
            }
        }
    }
}

/* =========== Accordian # ============= */

.accordion-3 {
    .card {
        margin-bottom: 5px;
        .card-header {
            background: $primary;
            padding: 0;
            * {
                color: #fff;
            }
            .title {
                display: flex;
                cursor: pointer;
                padding: 15px 35px;
                align-items: center;
                &:after {
                    content: '\f056';
                    font-family: 'FontAwesome';
                    margin-left: auto;
                }
                &.collapsed::after {
                    content: '\f055';
                }
            }
        }
    }
}