#search_form {
    position: absolute;
    right: 100%;
    top: -25px;
    padding: 20px;
    background: darken($primary, 10%);
    border-radius: 5px;
    display: none;
    .search-inner {
        display: flex;
        input {
            padding: 5px 10px;
        }
        button {
            padding: 0 10px;
            background: $primary;
            color: #fff;
        }
    }
}

/* Responsive Form */

@include media('small') {
    #search_form {
        right: -70px;
        top: 50px;
    }
}

@include media('medium') {
    #search_form {
        right: -70px;
        top: 50px;
    }
}