#search_form {
    position: absolute;
    right: 100%;
    top: -25px;
    padding: 20px;
    background: darken($primary, 10%);
    border-radius: 5px;
    display: none;
    .search-inner {
        display: flex;
        input {
            padding: 5px 10px;
        }
        button {
            padding: 0 10px;
            background: $primary;
            color: #fff;
        }
    }
}

/* Responsive Form */

@include media('small') {
    #search_form {
        right: -70px;
        top: 50px;
    }
}

@include media('medium') {
    #search_form {
        right: -70px;
        top: 50px;
    }
}

/* ============== Video Play Button ================ */

.video-play-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url($img + 'play.png') no-repeat center;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    transition: .2s ease-in-out;
    &::before {
        content: '';
        position: absolute;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        top: -10px;
        left: -10px;
        background: #fff;
        opacity: 0.3;
        border-radius: 50%;
    }
    &:hover {
        transform: scale(1.1);
    }
}

/* =========== Accrodian ============= */

.cd-accordian {
    .card {
        background: transparent;
        border-radius: 0;
        .card-header {
            background: transparent;
            border: 1px solid rgba(255, 255, 255, .3);
            border-radius: 0;
            h6 {
                &::before {
                    content: '\f056';
                    font-family: 'fontawesome';
                    margin-right: 5px;
                }
                &.collapsed::before {
                    content: '\f055';
                }
            }
        }
        .card-body {
            border: 0;
            background: transparent;
        }
    }
}