/*=============================================
                Forms Styles
=============================================*/

#search_form {
    position: absolute;
    right: 100%;
    top: -25px;
    padding: 20px;
    background: darken($primary, 10%);
    border-radius: 5px;
    display: none;
    .search-inner {
        display: flex;
        input {
            padding: 5px 10px;
        }
        button {
            padding: 0 10px;
            background: $primary;
            color: #fff;
        }
    }
}

/* Responsive Form */

@include media('small') {
    #search_form {
        right: -70px;
        top: 50px;
    }
}

@include media('medium') {
    #search_form {
        right: -70px;
        top: 50px;
    }
}

/* Request Quote Form */

.request-quote {
    background: $primary;
    padding: 20px;
    border-radius: 4px;
    h3 {
        margin-bottom: 30px;
        color: #fff;
    }
    .request-form {
        input,
        select {
            display: block;
            width: 100%;
            padding: 12px 15px;
            border-radius: 4px;
            margin-bottom: 15px;
            border: 0;
        }
        input[type="submit"] {
            background: #333c4c;
            color: #fff;
        }
        select {
            color: #555;
            appearance: none !important;
            option {
                color: #555;
            }
        }
        .select-wrap {
            position: relative;
            width: 100%;
            &:after {
                content: '\f107';
                position: absolute;
                right: 5px;
                top: 13px;
                font-family: 'fontawesome';
                color: #555;
                font-weight: bold;
            }
        }
    }
}

/* Comment From */

.comment-form {
    padding: 25px 0;
    input,
    textarea,
    button {
        border-radius: 5px;
        background: #f4f4f4;
        padding: 15px 20px;
        margin-bottom: 22px;
        border: 0;
        width: 100%;
        display: block;
    }
    textarea {
        resize: none;
        height: 130px;
    }
    button {
        background: $primary;
        color: #fff;
        margin-bottom: 0;
    }
}