.xp-timeline {
    padding: 50px 0 100px;
}

.timeline {
    /* Year */
    .year {
        font-size: 30px;
        color: $primary;
        padding-top: 20px;
    }
    /* Content */
    .content {
        position: relative;
        .title {
            color: $primary;
            font-size: 25px;
            margin-bottom: 20px;
        }
        /* Verticle Line */
        &::before {
            content: '';
            position: absolute;
            height: 200%;
            width: 5px;
            right: calc(100% + 20px);
            top: 0px;
            background: #ededed;
        }
        &:after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            background: #fff;
            top: 45px;
            right: calc(100% + 10px);
            border-radius: 50%;
            border: 5px solid #ededed;
        }
        &:hover::after {
            border-color: $primary;
        }
    }
}

/* Responsive Timeline */

@include media('small') {
    .timeline {
        .year {
            font-size: 24px;
        }
        .content {
            &::before {
                right: calc(100% + 0px);
            }
            &::after {
                right: calc(100% + -7px);
                width: 20px;
                height: 20px;
            }
        }
    }
}