/*=========================================
            Common Styles
=========================================*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $text-font;
    font-size: 16px;
    color: $text;
    line-height: 25px;
}

a {
    color: $text;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    box-shadow: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $title;
}

h1 {
    font-size: 55px;
    line-height: 60px;
}

h2 {
    font-size: 40px;
    line-height: 50px;
}

h3 {
    font-size: 30px;
    line-height: 40px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 26px;
}

h6 {
    font-size: 16px;
    line-height: 25px;
}

button {
    border: 0;
    cursor: pointer;
}

button:focus {
    outline: 0;
    border: 0;
    box-shadow: none !important;
}

input {
    border: 1px solid $primary;
}

input[type="submit"] {
    cursor: pointer;
}

input:focus,
textarea:focus {
    outline: 0;
}

section {
    overflow: hidden;
}

/* ===============================================
            Common Class / Id
================================================*/

.section-heading {
    h3 {
        font-weight: bold;
    }
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $primary;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999999;
}

.dropdown-menu {
    width: 100%;
}