//////////// Base ////////////
@import './base/variables';
@import './base/mixins';
//////// Common Style ////////
@import './default/common';
/////////// Plugins ////////////
@import './plugins/slicknav/slicknav';
@import './plugins/aos/aos';
///////// Component /////////
@import './component/component';
@import './component/buttons';
@import './component/forms';
@import './component/timeline';
///////// Hover Effect /////////
@import './hover/hover';
///////////// Layout /////////////
@import './layout/header';
@import './layout/hero';
@import './layout/latest-news';
@import './layout/showcase';
@import './layout/map';
@import './layout/footer';
///////////// page /////////////
@import './pages/home';
@import './pages/home2';
@import './pages/about';
@import './pages/services';