//////////////////////////////////////////////////
///////////////// Variables //////////////////////
//////////////////////////////////////////////////
//Text font
$text-font: 'Roboto',
Arial,
sans-serif;
/////////////// Regular colors ///////////////////
/// Text color
$text: #566071;
$primary: #ffa200;
$nav: #0b1830;
$title: #0b1830;
// Directories
$dir: '../css/';
$img: '../../img/';
// Spacing
$sec-pad: 100px 0;